/************* Section ************/

/************* MBTI Category ************/
#mbtiCtgGroup {
  width: 100%;
  height: 300px;
  margin-top: 40px;
  background: #9b8373;
  height: 205px;
  padding: 23px 0;
}

.mbtiCtg {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 17px 70px 0px 70px;
}

.mbtiItemsImg > img {
  width: 63px;
  height: 63px;
  border-radius: 16px;
}

.mbtiItemsImg > img:hover {
  opacity: 0.6;
}

.mbtiCtgItems a {
  color: #e9e7e3;
  text-decoration: none;
  font-weight: bold;
}

.mbtiItemsText {
  text-align: center;
}

/************* 인기 게시글 ************/
#hotItemsSection {
  width: 100%;
  background: #9b8373;
  padding: 35px 0;
}

#hotItemsSection > h2 {
  padding: 0px 13px 13px 38px;
  color: #e9e7e3;
}

.hotItemGroup {
  display: flex;
  justify-content: space-evenly;
}

.hotItems {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background: white;
  margin: 10px 0;
}

.hotItems:hover {
  opacity: 0.8;
}

/************* 추천게시글 ************/
#KIRRIRecommendSection, #KIRRIGoodsSection {
  width: 100%;
  height: 450px;
  background: #9b8373;
  padding: 35px 0;
  margin-bottom: 90px;
  padding-top: 75px;
}

#KIRRIRecommendSection h2, #KIRRIGoodsSection h2 {
  padding: 0px 13px 13px 38px;
  color:#e9e7e3;
}
.KIRRIRecommendGroup, .KIRRIGoodsGroup {
  display: flex;
  justify-content: space-evenly;
}

.KIRRIRecommendItems {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  background: white;
  margin: 10px 0;
}

.KIRRIRecommendItems:hover {
  opacity: 0.8;
}
