/************* Section ************/
#A1 {
  width: 100%;
  height: 123px;
  background: #ebf7ff;
  text-align: center;
  line-height: 123px;
}

#A1 > h2 {
  color: rgb(77, 112, 177);
  font-size: 50px;
  padding: 0px 13px 13px 38px;
}

#Post {
  width: 100%;
  height: 1000px;
  background: #bedcf1;
  padding: 35px 0;
}

#Post h2 {
  padding: 0px 13px 13px 45px;
}
#Postname {
  color: rgb(65, 65, 65);
  padding: 0px 0px 0px 25px;
  font-size: 30px;
}

.PostGroup {
  display: flex;
  justify-content: space-evenly;
}
#PostGroupItems1 {
  width: 750px;
  height: 700px;
  border-radius: 10px;
  background: white;
  margin: 10px 0;
}

/* 슬라이드 */
#slideBannerGroup {
  width: 100%;
  height: 530px;
  overflow: hidden;
  text-align: center;
}
/* PictureGroup */
#slideBanner {
  position: relative;
  width: 7500px;
  height: 530px;
}
/* Picture */
.banner {
  float: left;
  width: 1500px;
  height: 530px;
}
/* banner */
#PictureGroup {
  width: 100%;
  height: 700px;
  overflow: hidden;
  text-align: center;
}
#Picture {
  position: relative;
  width: 7500px;
  height: 530px;
}

#Picture img {
  width: 750px;
  height: 700px;
  border-radius: 5px;
  margin: 0px 0;
  overflow: hidden;
}
.PictureminiGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 212px;
}
.PictureminiItems {
  width: 133px;
  height: 133px;
  border-radius: 15px;
  background: white;
  margin: 10px 0;
}
.PictureminiItems img {
  width: 133px;
  height: 133px;
  border-radius: 30px;
  margin: 0px 0;
  overflow: hidden;
}
/* 배너 하단 control Button */
#bannerControlGroup {
  margin: 0 auto;
  width: 160px;
  text-align: center;
}
.bannerControl {
  margin: 15px 5px 0 5px;
}

#prevNextBtnGroup {
  position: relative;
}

#prevBtn1 {
  position: absolute;
  top: 337px;
  left: 8px;
  width: 76px;
  opacity: 0.2;
  cursor: pointer;
  color: red;
  z-index: 100;
}

#nextBtn1 {
  position: absolute;
  top: 337px;
  right: 0;
  width: 76px;
  opacity: 0.2;
  cursor: pointer;
  color: red;
  z-index: 100;
}
/* 슬라이드 끝 */

#PostGroupItems2 {
  width: 650px;
  height: 918px;
  border-radius: 20px;
  background: white;
  margin: 10px 0;
}
#profile {
  margin-top: 30px;
  padding-left: 50px;
}
#profile img {
  width: 250px;
  height: 200px;
}

#profilee {
  text-align: center;
}
#profilee h2 {
  font-size: 35px;
}
#profile1 {
  font-size: 23px;
}

.Profile {
  border-radius: 50%; /*둥그런 원으로 만들기 위함*/
  margin-top: 30px;
  padding-left: 30px;
  width: 40%;
}
.Profile img {
  width: 250px;
  height: 200px;
}
#Profile1 {
  border-radius: 50%; /*둥그런 원으로 만들기 위함*/
  margin-top: -10px;
  padding-left: 30px;
  width: 600px;
  height: 300px;
}
#Profile1 h2 {
  color: rgb(33, 150, 245);
  width: 620px;
  font-size: 24px;
  padding-left: 50px;
}

.Profile2 {
  display: inline-block;
  margin-top: 30px;
  padding-left: 30px;
  width: 25%;
}
#Profile2 {
  width: 600px;
  height: 300px;
  margin-top: -40px;
}
#Profile2 h2 {
  font-size: 28px;
  vertical-align: middle;
  padding-top: 104px;
}
#Profile2 h3 {
  font-size: 23px;
  padding-left: 43px;
  margin-top: 20px;
  /* text-decoration:underline; <a> 태그 밑줄 보이기 */
}
#Profile2 h4 {
  font-size: 20px;
  padding-left: 50px;
  margin-top: -5px;
  color: rgb(53, 53, 53);
  /* text-decoration:underline; <a> 태그 밑줄 보이기 */
}

#love {
  display: inline-block;
  border: solid 1px rgb(211, 211, 211);
  border-radius: 50px;
  line-height: 35px;
  padding: 0 12px;
}
#love {
  background: rgb(256, 1, 1);
  width: 80px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}
#btn {
  border: solid 1px rgb(228, 227, 227);
  background-color: white;
  border-radius: 50px;
  line-height: 43px;
  padding: 0 0px;
  font-size: 15px;
  color: rgb(204, 115, 115);
}
#btn1 {
  border: solid 1px rgb(228, 227, 227);
  background-color: white;
  border-radius: 50px;
  line-height: 43px;
  padding: 0 0px;
  font-size: 15px;
  color: rgb(204, 115, 115);
}
#btn1 > a {
  text-decoration: none;
}
#btn h2 {
  font-size: 35px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 5px;
}

#btn1 h3 {
  font-size: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #5ea3d4;
}

#btn h3 {
  font-size: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #5ea3d4;
}

.PostGroupItems3 {
  width: 650px;
  height: 200px;
  background: rgb(189, 131, 131);
  margin: 10px 0;
  padding-top: 30px;
}
#Postmini {
  width: 100%;
  height: 315px;
  background: #d8e8f3;
  padding: 35px 0;
}

#Postmini h2 {
  padding: 0px 0px 0px 38px;
  font-size: 30px;
  color: rgb(38, 78, 165);
}

.PostminiGroup {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.PostminiItems {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: white;
  margin: 10px 0;
}

.PostminiItems img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 0px 0;
}

#bottom {
  width: 100%;
  height: 200px;
  padding: 35px 0;
  background: #ebf7ff;
  text-align: center;
  font-size: 20px;
}

#KIRRIRecommendSection1 {
  background: #bedcf1;
  height: 888px;
}

#KIRRIRecommendSection1 > h2 {
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 13px;
}

.KIRRIRecommendItems {
  width: 240px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
  flex-shrink: 0;
  overflow: hidden;
}
.KIRRIRecommendItems img {
  width: 400px;
  height: 363px;
}

.KIRRIRecommendItems:hover {
  box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}

.KIRRIRecommendGroup {
  display: flex;
  justify-content: space-evenly;
}

.KIRRIRecommendItems {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  background: white;
  margin: 10px 0;
}

.KIRRIRecommendItems:hover {
  opacity: 0.8;
}

/* chatbot */
#chatbot {
  position: fixed;
  top: 84%;
  left: 90%;
  font-size: 50px;
}

#chatbot:hover {
  opacity: 0.7;
  cursor: pointer;
}
